<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="catalog" translate="label" sortOrder="10">
            <label>Catalog</label>
        </tab>
        <section id="practice" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>practice</label>
            <tab>catalog</tab>
            <resource>NTTData_Practice::catalog_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enabled" type="select" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>practice/general/enabled</config_path>
                </field>
                <field id="limit" type="text" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>limit</label>
                    <validate>required-entry validate-number validate-number-range number-range-1-100</validate>
                    <comment>must be a number, in the range of 1-100</comment>
                    <config_path>practice/general/limit</config_path>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="order_field" type="select" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order_Field</label>
                    <source_model>NTTData\Practice\Model\Config\Source\OrderAttributes</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                 <field id="order_direction" type="select" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order_Direction</label>
                     <source_model>NTTData\Practice\Model\Config\Source\AscDesc</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>